In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as

In [ ]:
# Temperaturer månader data, från Jan till Dec

In [12]:
Tem = [0.5, 0.9, 4.1, 5.6 , 11.5, 18.1, 18.4, 19.8, 12.2, 10.1, 5.5, -1.4]
Mån = [1,2,3,4,5,6,7,8,9,10,11,12]

In [13]:
TemData = {'Temperatur':pd.Series(Tem), 'Månader':pd.Series(Mån)}
TemData_df = pd.DataFrame(TemData)

In [14]:
TemData_df

    Temperatur  Månader
0          0.5        1
1          0.9        2
2          4.1        3
3          5.6        4
4         11.5        5
5         18.1        6
6         18.4        7
7         19.8        8
8         12.2        9
9         10.1       10
10         5.5       11
11        -1.4       12

In [ ]:
#Skapa ett csv-fil med data

In [17]:
TemData_df.to_csv('Temperaturer_2020.csv')